

.pergolas-to-home {
    width: 90%;
    margin-left: 5%;
    margin-top: 40px;
    margin-bottom: 60px;
    text-align: center;
    padding: 20px;
    
  }
  
  .pergolas-to-home h2 {
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 20px;
  }
  
  .slider-img {
    padding: 10px;
  }
  
  .slider-img img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  
  .slider-img img:hover {
    transform: scale(1.02);
  }
  


  @media screen and (max-width: 640px){
    .pergolas-to-home h2{
      font-size: 15px;
      margin-top: 0px;
    }
  }

   @media screen and (max-width: 450px){
    .pergolas-to-home h2{
      font-size: 12px;
    }
  }