.hero-banner {
    position: relative;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 97%;
    margin: 0px 1.5%;
    border-radius: 15px;
  }
  
  .hero-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    color: white;
    width: 40%;
    height: auto;
    max-width: 80%;
    margin: 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    
  }
  
  .hero-title {
    font-size: 3rem;
    font-weight:600;
    margin-bottom: 1rem;
    color:white;
    text-shadow: 0 2px 3px rgb(12, 11, 11);
    
  }
  .hero-strong{
    color: #f1683a;
  }
  
  .hero-subtitle {
    font-size: 1.3rem;
    margin-bottom: 2rem;
    color: white;
    text-shadow: 0 2px 3px rgb(48, 45, 45);
    font-size: 16px;
    
  }
  
  .hero-button {
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    height: 30px;
    width: auto;
    background: transparent;
    border: 1px solid #f1683a;
    color: white;
    letter-spacing: 3px;
    text-shadow: 0 2px 3px rgb(12, 11, 11);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  }
  
  .hero-button:hover {
    background-color: #d95422;
  }
  @media (max-width: 1131px){
    .hero-overlay {
      width: 45%;
      margin-left: 10%;
      /* margin: 20px; */
      padding: 20px;
    }
  }
  @media (max-width: 905px){
    .hero-title {
      font-size: 30px;
    }
    .hero-subtitle {
      font-size: 14px;
    }
    .hero-button{
      font-size: 12px;
    }
  }

  @media (max-width: 750px){
    .hero-overlay {
      width: 80%;
      margin-left: 10%;
      /* margin: 20px; */
      padding: 20px;
    }
  }