@import url('normalize.css');
.legenda-lead-form{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  color: black;
  font-weight: bold;
  font-size: 50px;
  
}

.contactu-info{
  margin: 3% 10% 6%;
}
.contactu-info h1{
  font-weight: bold;
  font-size: 45px;
}
.contactu-info p{
  font-size: 20px;
  margin: 10px 5%
}
.contactu-info strong{
  color: #f1683a;
}