/* Banner Styles */
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    
    width: 92%;
    margin-left: 4%;
    margin-bottom: 40px;
}

.banner-content {
    display: flex;
    gap: 0px;
    width: 100%;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 30px 40px;
    
}
.text-container h1{
    font-size: 1.8rem;
    font-weight: 600;
}
.text-container p{
    font-size: 1.3rem;
    line-height: 1.5;
}
.banner-strong{
    color: #f1683a;

}

.image-container {
    width: 50%;
    height: 100%;
    padding: 5%;
}

.banner img {
    width: 100%;
    height: 100%;
    
    
}

.reversed .text-container {
    order: 2; /* Cambia el orden de los elementos cuando 'reversed' sea true */
}

 @media screen and (max-width: 905px){
    .text-container{
      padding: 10px 20px;
    }
    
    .text-container h1 {
      font-size: 20px;
    }
    .text-container p {
      font-size: 12px;
    }

 }

  @media screen and (max-width: 724px){
    .text-container h1 {
      font-size: 15px;
    }
    .text-container p {
      font-size: 8px;
    }

 }

  @media screen and (max-width: 504px){
    /* .text-container h1 {
      font-size: 12px;
    }
    .text-container p {
      font-size: 6px;
    } */
    .text-container p{
      line-height: 1.7;
    }
 }

 @media screen and (max-width: 494px){
    .text-container h1 {
      font-size: 13px;
    }
    .text-container p {
      font-size: 8px;
    }
    
 }
 @media screen and (max-width: 403px){
    .text-container h1 {
      font-size: 13px;
    }
    .text-container p {
      font-size: 6px;
    }
    
 }