@import url('normalize.css');

.home-container {
  background: linear-gradient(to bottom, white, #edecec);
  min-height: 100vh;
}
.video-section {
  position: relative;
  width: 97%;
  margin: 0px 1.5%;
}

.video-overlay {
  position: absolute;
  top: 90%;
  left: 10%;
  color: white;
  font-size: 3rem;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);
  height: 30px;
  padding: 10px;
}



.hero-video {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
/* ---herodown banner---- */
.hero-down-banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  gap: 40px;
  margin: 60px auto;
  margin-left: 5%;
  background: transparent;
}

.hero-down-container {
  
  width: 100%;
  height: auto;
  padding: 40px;
  
}

/* Imagen encima del fondo */
.hero-down-card-content {
  flex: 0 0 40%;
  border-radius: 16px;
  overflow: hidden;
  /* box-shadow: 0 8px 24px rgba(0,0,0,0.15); */
}

/* Imagen recortada redondeada */
.hero-down-card-content img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 16px;
}


/* Título */
.card-hero-down-card-title a
{
  font-weight: 600;
  padding: 16px;
  font-size: 18px;
  color: #111;
}




.hero-down-text {
  flex: 0 0 60%;
  padding: 20px;
}
.hero-down-text h2{
  font-size: 45px;
  font-weight: 400;
  color: black;
}

.hero-down-text h4 {
  font-style: italic;
  font-size: 18px;
  margin-bottom: 12px;
  color: rgb(112, 106, 100);
  margin-bottom: 20px;
}

.hero-down-text p {
  font-size: 16px;
  line-height: 1.6;
  color: #444;
  margin-bottom: 20px;
}
.hero-down-container-link {
  text-decoration: none;
  display: block;
}

/*---e


/* Third Banner */

.third-banner {
    /* background-color: #f5f5f5; */
    height: 100px;
    width: 95%;
    margin-left: 2.5%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: #e7824f;
    
  }
  
 .third-banner-text {
    width: 70%;
}
  
  .third-banner-text p {
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 0 2px 3px rgb(12, 11, 11);
    
    margin: 0;
    padding: 15px 20px;
    border-radius: 8px;
    text-align: center;
  }
  .third-banner-button-wrapper {
    width: 30%;
    display: flex;
    justify-content: flex-end; /* alinea el botón a la derecha */
}
  .third-banner-button {
    
    width: 60%;
    
    background-color:rgb(37, 34, 34);
    color: white;
    text-shadow: 0 2px 3px rgb(12, 11, 11);
    
    font-size: 1.3em;
    
    border:2px solid white;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .third-banner-button:hover {
    transform: scale(1.02);
  }
  
  /* Forth Banner */

  .forth-banner{
    background-color: #dcd6d6;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 100px;
    width: 97%;
    margin-left: 1.5%;
  }
  .forth-banner .info{
    padding: 40px;
    display: flex;
    flex-direction: column;      /* h2 arriba, p abajo */
    justify-content: center;     /* centra verticalmente TODO el bloque (h2+p) */
    align-items: center;         /* centra horizontalmente */
    text-align: center;
  }

  .info-subtitle{
    width:60%;
    display:flex;
    justify-content:center;
    align-items:end;
    text-align: center;

    
  }
  .forth-banner h2{
    font-size: 2rem;
    
    
  }
  .forth-banner img{
    height: auto;
    width: 100%;
  }
  .forth-banner strong{
    color: #f1683a;
  }
  .forth-banner p{
    font-size: 17px;
    font-weight: bold;
  }
  
  /* Mith Banner */
  .myths-info{
    margin-top: 100px;
  }

/* -------media queries------- */


@media screen and (max-width: 1100px){
    .forth-banner .info{
      padding: 10px;
    }

    .forth-banner h2{
      font-size: 20px;
      
    }
    
    .forth-banner p{
      font-size: 12px;
    }
    .hero-down-text h2{
      font-size: 30px;
    }
    .hero-down-text em{
      font-size: 18px;
    }
    .hero-down-text p{
      font-size: 12px;
    }
}



@media screen and (max-width: 905px){
    .third-banner-text p {
      font-size: 20px;
    }
  
    .third-banner-button {
      font-size: 15px;
    }  
   

    .hero-down-banner{
      flex-direction: column;
      gap: 20px;
      padding: 20px;
      margin-top: 20px;
      
    }
    .hero-down-card-content{
      padding: 0px 20% 
    }
    

}    
@media screen and (max-width: 780px){
    .forth-banner .info{
      padding: 0px 0px 10px 0px;
    }
    .forth-banner h2{
      font-size: 15px;
      margin-bottom: 10px;
    }
    
    .forth-banner p{
      font-size: 12px;
    }
}
@media screen and (max-width: 681px){
    
    .forth-banner{
      margin-bottom: 40px;
      margin-top: 0px;
      
    }
    .forth-banner p{
      font-size: 8px;
      line-height: 2;
      margin-bottom: 5px;
    }
    .myths-info{
      margin-top: 40px;
    }
    
}
@media screen and (max-width: 625px){
  .third-banner-text p {
    font-size: 15px;
    
  }
  
  .third-banner-button {
    font-size: 10px;
  }
  .hero-down-banner{
    gap: 0px;
  }
  .hero-down-text h2{
    font-size: 20px;
  }
  .hero-down-text em{
    font-size: 14px;
  }
  .hero-down-text p{
    font-size: 08px;
  }

}



@media screen and (max-width: 463px){
  .third-banner-text p {
    font-size: 10px;
  }
  
  .third-banner-button {
    font-size: 8px;
    width: 80%;
  }
  .hero-down-text h2{
    font-size: 16px;
  }
  .hero-down-text em{
    font-size: 12px;
  }
  .hero-down-text p{
    font-size: 08px;
  } 

}

@media screen and (max-width: 355px){
  .third-banner-text p {
    font-size: 8px;
  }
  
  .third-banner-button {
    font-size: 8px;
    width: 80%;
  }
  .hero-down-text h2{
    font-size: 14px;
  }
}