@import url('normalize.css');

.video-section {
  position: relative;
  width: 100%;
}

.video-overlay {
  position: absolute;
  top: 90%;
  left: 10%;
  color: white;
  font-size: 3rem;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);
  height: 30px;
  padding: 10px;
}



.hero-video {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}






.third-banner {
    /* background-color: #f5f5f5; */
    height: 100px;
    width: 90%;
    margin-left: 5%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: #e7824f;
    
  }
  
 .third-banner-text {
    width: 70%;
}
  
  .third-banner-text p {
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 0 2px 3px rgb(12, 11, 11);
    
    margin: 0;
    padding: 15px 20px;
    border-radius: 8px;
    text-align: center;
  }
  .third-banner-button-wrapper {
    width: 30%;
    display: flex;
    justify-content: flex-end; /* alinea el botón a la derecha */
}
  .third-banner-button {
    /* padding: 12px 24px; */
    width: 60%;
    
    background-color:rgb(37, 34, 34);
    color: white;
    text-shadow: 0 2px 3px rgb(12, 11, 11);
    
    font-size: 1.3em;
    
    border:2px solid white;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .third-banner-button:hover {
    transform: scale(1.02);
  }
  
  
  .forth-banner{
    background-color: #dcd6d6;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 100px;
  }
  .forth-banner .info{
    height: 50%;
    padding: 40px;
    display: flex;
  }
  .forth-banner h2{
    width:100%;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .forth-banner img{
    height: auto;
    width: 100%;
  }
  .forth-banner strong{
    color: #f1683a;
  }
  .forth-banner p{
    font-size: 17px;
    font-weight: bold;
  }


/* -------media queries------- */


@media screen and (max-width: 1100px){
    
    .forth-banner h2{
      font-size: 20px;
      
    }
    
    .forth-banner p{
      font-size: 12px;
    }
}



@media screen and (max-width: 905px){
    .third-banner-text p {
      font-size: 20px;
    }
  
    .third-banner-button {
      font-size: 15px;
    }  
    

}    
@media screen and (max-width: 780px){
    .forth-banner h2{
      font-size: 15px;
      
    }
    
    .forth-banner p{
      font-size: 12px;
    }
}
@media screen and (max-width: 681px){
    .forth-banner h2{
      font-size: 10px;
      
    }
    
    .forth-banner p{
      font-size: 8px;
    }
}
@media screen and (max-width: 625px){
  .third-banner-text p {
    font-size: 15px;
  }
  
  .third-banner-button {
    font-size: 10px;
  }

}

@media screen and (max-width: 463px){
  .third-banner-text p {
    font-size: 10px;
  }
  
  .third-banner-button {
    font-size: 8px;
    width: 80%;
  }

}

@media screen and (max-width: 345px){
  .third-banner-text p {
    font-size: 8px;
  }
  
  .third-banner-button {
    font-size: 8px;
    width: 80%;
  }

}