@import url('normalize.css');
.home-container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin-top: -50px;
    position: relative;
}
.home-container img{
    width: 100%;
    height: 100%;
    
    object-fit: cover;
}
.hero{
    margin-top: 30px;
    position: absolute;
    top: 10%;
    left: 4%;
    margin-left: 10px;
    padding: 0;
    z-index: 100;
    color: white;
}
.home-container .hero .voice{
    font-size: 2.6em;
    font-weight: bold;
}
.home-container .hero .mission{
    color: #f1683a;
    font-size: 4.5em;
    font-weight: bold;
    width: 1000px;
    line-height: 0.9;
    margin-top: 50px;
    margin-bottom: 50px;
}

.home-container .hero .paragraph{
    font-size: 20px;
    width: 800px;
    line-height: 2;
}
.home-container .hero .buttons-home{
    display: flex;
    margin-top: 30px;
   
}
.home-container .hero button{
    width: 120px;
    height: 40px;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 20px;

}
.home-container .hero .service-home{
    width: 220px;
    background: #f1683a;
    color: white;
    letter-spacing: 3px;
    text-shadow: 0 2px 3px rgb(12, 11, 11);
    

}
.home-container .hero .contactus-home{
    width: 140px;
    background: white;
    border: 2px solid #f1683a;
    color: white;
    background-color: rgba(60, 126, 170, 0.5);
    backdrop-filter: blur(10px);
    margin-left: 20px;
    
}


.third-banner {
    /* background-color: #f5f5f5; */
    height: 100px;
    width: 90%;
    margin-left: 5%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: #e7824f;
    
  }
  
  .third-banner-text, .third-banner-button-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .third-banner-text p {
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 0 2px 3px rgb(12, 11, 11);
    
    margin: 0;
    padding: 15px 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  .third-banner-button {
    /* padding: 12px 24px; */
    width: 60%;
    
    background-color:rgb(37, 34, 34);
    color: white;
    text-shadow: 0 2px 3px rgb(12, 11, 11);
    
    font-size: 1.3em;
    
    border:2px solid white;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .third-banner-button:hover {
    transform: scale(1.02);
  }
  
  
  .forth-banner{
    background-color: #dcd6d6;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 100px;
  }
  .forth-banner .info{
    height: 50%;
    padding: 40px;
  }
  .forth-banner h2{
    width:100%;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .forth-banner img{
    height: auto;
    width: 100%;
  }
  .forth-banner strong{
    color: #f1683a;
  }
  .forth-banner p{
    font-size: 17px;
    font-weight: bold;
  }


/* -------media queries------- */



@media screen and (max-width: 1300px){
    .home-container{
        height: 932px;
        width: 1250px;
    }
    .home-container img{
        width: 1300px;
        height: 932px;
    } 
    .home-container .hero {
        padding-right: 10px;
        width: 825px;
        height: auto;
        top: 40px;
    }
    .home-container .hero .voice{
        font-size: 40px;
        width: 100%;
        font-weight: bold;
    }
    .home-container .hero .mission{
        
        font-size: 90px;
        width: 900px    
    }
    .home-container .hero .paragraph{
        padding: 20px;
        height: auto;
        width: 700px;
        font-size: 20px;
        /* border: 1px solid orange; */
        overflow: hidden;
    }

}
@media screen and (max-width: 850px){
    .home-container{
        height: 932px;
        width: 800px;
    }
    .home-container img{
        width: 825px;
        height: 932px;
    } 
    .home-container .hero {
        padding-right: 10px;
        width: 825px;
        height: auto;
        top: 40px;
        
    }
    .home-container .hero .voice{
        font-size: 35px;
        width: 100%;
        font-weight: bold;
    }
    .home-container .hero .mission{
        
        font-size: 80px;
        width: 700px    
    }
    .home-container .hero .paragraph{
        padding: 20px;
        height: auto;
        width: 700px;
        font-size: 20px;
        /* border: 1px solid orange; */
        overflow: hidden;
    }
    
}




@media screen and (max-width: 450px){
    .home-container{
        height: 932px;
        width: 430px;
    } 
    .home-container img{
        width: 430px;
        height: 932px;
    }
    .home-container .hero {
        padding-right: 10px;
        width: 430px;
        height: auto;
        top: 40px;
        
    }
    .home-container .hero .voice{
        font-size: 25px;
        width: 100%;
        font-weight: bold;
        width: 400px;
    }
    .home-container .hero .mission{
        
        font-size: 3.0em;
        width: 400px    
    }
    .home-container .hero .paragraph{
        padding: 20px;
        height: auto;
        width: 400px;
        font-size: 14px;
        
        overflow: hidden;
    }
   
}
