@import url('normalize.css');
.carousel{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin-top: -50px;
    position: relative;
}


.carousel .list .item{
    position: absolute;
    inset: 0 0 0 0; 
}
.carousel .list .item img{
    width: 100%;
    height: 100%;
    
    object-fit: cover;
}
.carousel .list .item .content{
    padding: 10px;
    
    margin-left: -20px;
    margin-top: -130px;
    position: absolute;
    height: 950px;
    top: 20%;
    width: 580px;
    max-width: 80%;
    left: 530px;
    transform: translateX(-50%);
    padding: 25px;
    padding-right: 30%;
    box-sizing: border-box;
    color: white;
    text-shadow: 0 5px 10px black;
    
    background-color: rgba(62, 83, 66, 0.5);
    backdrop-filter: blur(100px);
    
    border-radius: 20px;
    
    display: flex;
    flex-direction: column;
    
    
}
.carousel .list .item .content .fenceType{
    font-weight: bold;
    font-size: 28px;
    letter-spacing: 10px;
    padding-left: 15px;
    width: 700px;
    -webkit-text-stroke: 0.3px black;
}
.carousel .list .item .content .fenceName{
    padding-left: 15px;
    font-weight: bold;
    width: 700px;
    font-size: 4.5em;
    list-style: none;
    color: #f1683a;
}
.carousel .list .item .content .description{
    font-weight: bold;
    
    width: 700px;
    list-style: none;
    padding-right: 15px;
    padding-left: 15px;
}
.carousel .list .item .content .description li{
    margin-bottom: 25px;
}
.carousel .list .item .content .description li p{
    margin-left: 20px;
    line-height: 2;
    /* -webkit-text-stroke: 0.3px black; */
    font-size: 14x;

}
.carousel .list .item .content .description li h3{
    color: black;
    font-size: 22px;
    text-shadow: 0 2px 3px rgb(133, 131, 131);
    font-weight: 600;
}

.carousel .list .item .content .buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    padding-left: 15px;
    width: 400px;
    margin-left: 135px;
}
.carousel .list .item .content button{
    border: none;
    width: 120px;
    height: 40px;
    background-color: white;
    letter-spacing: 3px;
    font-weight: bold;
    border-radius: 20px;
}
.carousel .list .item .content button:hover{
    box-shadow: 0 8px 15px black;
}
.carousel .list .item .content .contactUsButton{
    background-color: transparent;
    color: white;
    border: 1.5px solid white;
}

/* thumbnail */
.thumbnail{
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}
.thumbnail .item{
    width: 270px;
    height: 200px;
    flex-shrink: 0;
    position: relative;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 10px 13px 15px black;
}
.thumbnail .item .content{
    position: absolute;
    margin-left: -10px;
    padding: 0 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    color:white;
    font-size: 20px;
    font-weight: bold;
    -webkit-text-stroke: 0.5px black; /* Agrega un borde de 1px negro alrededor de cada letra */
    backdrop-filter: blur(40px);
    width: 100%;
    display: flex;
    justify-content: center;
}
/* arrows */
.arrows{
    position: absolute;
    top: 86%;
    right: 45%;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.arrows button{
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    color: #555;
    
    transition: .5s;
    z-index: 100;
    
    text-shadow: 0 5px 10px #555;
    box-shadow: 3px 4px 4px #555;
    
    
    font-size: 20px;
    font-weight: bold;
    -webkit-text-stroke: 0.5px black;
    
}
.arrows button:hover{
    border:1px solid #555;
    
    /* background-color:rgba(62, 83, 66, 0.5);
    backdrop-filter: blur(20px);
    color:white; */
    
}
.carousel .list .item:nth-child(1) {
    z-index: 1;
}

.carousel .list .item:nth-child(1) .fenceType,
.carousel .list .item:nth-child(1) .fenceName,
.carousel .list .item:nth-child(1) .description,
.carousel .list .item:nth-child(1) .buttons
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;
}
@keyframes showContent{
    to{
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}
/* effect next click */
.carousel.next .list .item:nth-child(1) img
{
    width: 220px;
    height: 150px;
    position: absolute;
    left: 50%;
    bottom: 50px;
    border-radius: 20px;
    animation: showImage 0.5s linear 1 forwards;
}  
@keyframes showImage{
    to{
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        border-radius: 0;
    }
} 
.carousel.next .thumbnail .item:nth-last-child(1){
    width: 0;
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}
@keyframes showThumbnail{
    to{
        width: 220px;
       
     }
}
.carousel.next .thumbnail{
    transform: translateX(150px);
    animation: transformThumbnail .5s linear 1 forwards;
}
@keyframes transformThumbnail {
    to{
        transform: translateX(0);
    }
}
.time{
    width: 0%;
    height: 3px;
    background-color: #f1683a;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
}
.carousel.next .time{
    width: 100%;
    animation: timeRunning 1.6s linear 1 forwards;
}
@keyframes timeRunning{
    to{
        width: 0;
    }
}
@media screen and (max-width: 740px) {
    .carousel .list .item .content{
        margin-left: -240px;
        margin-top: -70px;
        height: 480px;
    }
    .carousel .list .item .content .description{
        width: 550px;
    }
    
}
@media screen and (max-width: 650px) {
    .carousel .list .item .content{
        margin-left: -260px;
        height: 480px;
    }
    .carousel .list .item .content .description{
        width: 430px;
    }
    .carousel .thumbnail .item {
        width: 80px;
        height: 50px;
    }
    .carousel .thumbnail .item img {
        width: 100%;
        height: 100%;
    }
    .carousel .thumbnail .item .fenceName{
        display: none;
    }


    
}