@import url('normalize.css');
.container{

    position: relative;
    width: 60%;
    height: 50px;
    margin-left: 0px;
    display: flex;
    align-items:center;
    align-content: space-evenly;
    
    z-index: 100;

    background-color: rgba(4, 15, 61, 0.3);
    backdrop-filter: blur(20px);
    
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    
}
.flex-grow{
    flex-grow: 1;
}
a {
    width: 140px;
    color:white;
    font-weight:bold ;
    transition: background-color 3s ease, font-size 3s ease;
    padding: 20px;
    justify-content: center;
    text-align: center;
    
}
a:hover{
   
    background: white;
    color: black;
    font-size: 13px;
    
}

nav {
    display: flex;
    height: 50px;
    margin-left: 0px;
    justify-items: center;
    font-size: 12px;
    color: black;
    line-height: 10px;
}

.login{
    background: transparent;
    color: white;
    font-weight: bold;
    padding: 20px;
}
.logo{
    width: 40px;
    border-radius: 20px;

}
@media screen and (max-width: 450px){
    .container{
        width: 430px;
        justify-content: center;  /* Alinea horizontalmente al centro */
        align-items: center;      /* Alinea verticalmente al centro */
         
    }
    .container .nav-bar{
        display: flex;
        justify-content: space-evenly;
        margin-left: 0px;
        width: 430px;
        
    }
    .container .nav-bar a{
        width: 60px;
        
    }
    .container .nav-bar .contactus{
        width: 120px;
        justify-content: center;
        text-align: right;
       
    }
  
}
@media screen and (max-width: 400px){
    .container{
        width: 390px;
        justify-content: center;  /* Alinea horizontalmente al centro */
        align-items: center;      /* Alinea verticalmente al centro */
         
    }
    .container .nav-bar{
        display: flex;
        justify-content: space-evenly;
        margin-left: 0px;
        width: 390px;
        
    }
    .container .nav-bar a{
        width: 60px;
        
    }
    .container .nav-bar .contactus{
        width: 120px;
        justify-content: center;
        text-align: right;
       
    }   
}

