@import url('normalize.css');

.background-container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin-top: -50px;
    position: relative;
    
}
.background-container img{
    width: 100%;
    height: 100%;
    
    object-fit: cover;
}

.flex-container {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
    justify-content: left;
    
}


.background-container .containerInside .dinamic-form{
    position: absolute;
    top: 10%;
    left: 4%;
    border-radius: 20px;
    

    background-color: rgba(150, 155, 151, 0.5);
    backdrop-filter: blur(80px);
    
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    margin-left: 10px;
    padding: 20px;
    display: flex; 
    flex-direction:column;
    justify-content: space-evenly;
    box-sizing: border-box;
    height: 850px;
    width: 850px;
    text-shadow: 0 2px 3px rgb(136, 129, 129);
}



.background-container .containerInside .dinamic-form input{
    
    font-weight: 600;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    opacity: 1;
    text-align: center;
    border-radius: 10px;
    text-shadow: 0 2px 3px rgb(92, 89, 89);
    width: 60%;
    height: 30px;
    padding: 10px;
    margin: 0 20px;
    min-width: 50px; /* Ancho mínimo */
    max-width: 200px; /* Ancho máximo*/
    /* background: transparent; */
    border: none;
    border-bottom: 2px solid #0a0a0a;
    color: black;
    margin-bottom: 30px;
    
}
.background-container .dinamic-form label{
    color: black;
    font-size: 15px;
    font-weight: bold;
    transform: translate(2%); 
    transition: .4s;
    height: 10px; 
    
}
.sqFeet-row, 
.gate-row, 
.tax-row, 
.sqFeet-select-span{
    border-bottom: 2px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}   

.sqFeet-row,
.gate-row,
.tax-row,
.totalPrice
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items:first baseline ;
    top: 20%;    
}

.background-container .dinamic-form .Legenda{
    position: absolute;
    top: 1.5%;
    padding: 5px;
    width: 600px;
    color: #f1683a;
    font-size: 4.5em;
    font-weight: bold;
    
    text-align: center;
    margin: 10px;
    margin-left: 10%;
    text-shadow: 0 2px 3px rgb(16, 16, 16);
    
    
} 


span{
    color: black;
    
    font-weight: bolder;
    
    /* -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: white; */
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 26px;
    
}
/*Para los <span>*/
.bold-text {
    
    font-weight: bold;
    font-size: 26px; /* Ajusta el tamaño según tu preferencia */
    align-items: center;
    justify-content: right;
    color: #f7fafd;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
   
}

.Legenda#TypeInfo{
    margin-left: 20%;
    font-size: 60px;
    
}
.flex-container {
    display: flex;
    flex-direction: row;
}

.city-list-container {
    position: absolute;
    
}

.city-list {
    position: absolute;
    top: 100%; /* Ajusta la posición debajo del input */
    
    background-color: rgb(153, 152, 152); /* Estilo opcional */
    border-radius: 20px;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    padding: 0; /* Para evitar el espaciado predeterminado de la lista */
    margin: 0; /* Para evitar el espaciado predeterminado de la lista */
    list-style: none; /* Para quitar los puntos de la lista */
    margin-left : 245px;
    margin-top: 60px;
    
}
.city-list-li{ 
    display :flex;  
    align-items: center; 
    cursor: grabbing;
    padding: 0.5rem;  
    width: 100%;
    box-sizing: border-box;
     
    display: flex;
    justify-content: center;
    align-items: center;
    
    backdrop-filter: blur(30px); 
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    opacity: 1;
    
    border-radius: 20px;
    
}
.city-list-li:hover {
    background-color: #90b4f2;
    
}
.sqFeet-select{
    display: flex;
    flex-direction: column;
    height: 200px;
    
}
/* .sqFeet-select-span{
    display: flex;
    flex-direction: row;
} */


.totalPrice{
    margin-left: 30%;
}

.dinamic-form .buttons{
    display: grid;
    grid-template-columns: repeat(2, 170px);
    grid-template-rows: 40px;
    gap: 40px;
    margin-top: 20px;
    padding-left: 15px;
}
.dinamic-form button{
    width: 170px;
    background-color: #f1683a;
    color: white;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 22px;
    border-radius: 20px;
    box-shadow: 0 5px 9px black;
    border: 1.5px solid white;
    text-shadow: 0 2px 3px rgb(9, 9, 9);
}
.dinamic-form .lastSection button:hover{
    box-shadow: 0 8px 15px black;
}
.dinamic-form .lastSection .contactUsButton{
    background-color: transparent;
    color: #f1683a;
    /* text-shadow: 1px 2px 3px rgb(141, 136, 136); */
    border: 1.5px solid #f1683a;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.5);
}
.dinamic-form .lastSection{
    display: flex;
    flex-direction: row;
    align-content: center;

}


@media screen and (max-width: 1300px){
    .background-container{
        
        height: 150vh;
        
        
    }
    
}
@media screen and (max-width: 910px){
    .background-container .containerInside .dinamic-form{
         
        margin-left: 10px;
        padding: 20px;
        display: flex; 
        flex-direction:column;
        justify-content: space-evenly;
        box-sizing: border-box;
        height: 850px;
        width: 700px;
        text-shadow: 0 2px 3px rgb(136, 129, 129);
    }
    .text-price,
    .bold-text
    {
        
        width: 150px;
        font-size: 20px;
        color: black;
        
    }
    .bold-text
    {
        width: auto;
    }
    .background-container .containerInside .dinamic-form input{
        width: 50%;
    }
    
}

@media screen and (max-width: 750px){
    .background-container{
        width: 150vw;
        height: 150vh;
        overflow: hidden;
        margin-top: -50px;
        position: relative;
        
    }
    .background-container .containerInside .dinamic-form{
        width: 449px;
        display: flex;
        flex-direction: column;
        
    }
    .background-container .containerInside .dinamic-form .Legenda{
        position: absolute;
        font-size: 3.0em;
        margin-left: -25%;
        margin-top: 1%;

    }
     
    
    .gate-row,
    .tax-row
    {
        
        display: flex;
        flex-direction: column; /* Alinea los elementos de cada fila en una fila */
        align-items: center; /* Alinea verticalmente los elementos al centro */
        justify-content: space-between; /* Espacio entre los elementos de cada fila */
        margin-top: 10px; /* Espaciado superior */
        width: 100%; 
        
        
    }
    /* span for prices  */
    .text-price,
    .bold-text
    {
        
        width: 180px;
        font-size: 20px;
        color: black;
        
    }
    .background-container .containerInside .dinamic-form .price{
        justify-content: left;
        margin-top: -80px;
        margin-left: -4%;
        width: 300px;
    }
    .buttons{
        top: 80%;
    }
    .dinamic-form .buttons{
        margin-top: -20%;
        gap: 20px;
        
    }
    
 

}