.design-tailored-card {
  position: relative;
  display: flex;

  width: 90%;
  margin: 40px auto 0;

  height: auto;
  overflow: hidden;

  border-radius: 5px;
  padding: 80px 20px;

  box-sizing: border-box;
  z-index: 2;
}

  .design-tailored-card-bg{
      position: absolute;
      top: 0;
      left: 0;       
      
      width: 100%;
      height: 60%; /* baja el gris para que no tape la imagen */
      background: #dbd9d9;
      border-radius: 14px;
      z-index: 1;
  }
  .design-tailored-card > *:not(.design-tailored-card-bg){
    position: relative;
    z-index: 2;
  }
 .design-tailored-card .banner-image {
    width: 50%;
    height: 100%;
    object-fit: cover;
    padding: 10px;
    border-radius: 24px;

    box-sizing: border-box;
    min-width: 0;
  }
  .banner-image {
    cursor: pointer;
  }
  .second-banner-info {
    width: 50%;
    padding: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    color: #000;

    box-sizing: border-box;
    min-width: 0;
  }
  
  .second-banner-info h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: black;
    font-weight: bold;
  }
  
  .second-banner-info p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    line-height: 1.6;
  }
  
  .second-banner-button {
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    background-color: #f1683a;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
  
    letter-spacing: 3px;
    text-shadow: 0 2px 3px rgb(12, 11, 11);
  }
  
  .design-tailored-card .second-banner-button:hover {
    background-color: #333;
  }

  @media (max-width: 1080px){
    .second-banner-info h1{
      font-size: 30px;
    }
    .second-banner-info p{
      font-size: 14px;
    }

  }
   @media (max-width: 830px){
    .second-banner-info {
      width: 100%;
      padding: 10px 15px;
    }
    .second-banner-info h1{
      font-size: 25px;
      margin-bottom: 0px;
    }
    .second-banner-info p{
      font-size: 10px;
    }
    .second-banner-button {
      font-size: 14px;
      padding: 4px 16px;
    }

  }
   @media (max-width: 589px){
    .design-tailored-card {
      flex-direction: column;
      
    }
    .second-banner-info{
      justify-content: center;
      align-items: center;
    }
  }  


  /* @media (max-width: 464px){

    .second-banner-info {
      padding: 4px 12px;
    }
    .second-banner-info h1{
      font-size: 18px;
      margin-bottom: 0px;
    }
    .second-banner-info p{
      font-size: 7px;
      margin-bottom: 10px;
    }
      .second-banner-button {
      font-size: 10px;
      
    }


    
  }   */
