
.design-tailored-card {
    margin-top: 50px;
    display: flex;
    width: 90%;
    margin-left: 5%;
    height: auto;
    overflow: hidden;
    background-color: #f5f5f5; /* Color de fondo opcional */
  }
  
  .design-tailored-card .banner-image {
    width: 50%;
    height: 100%;
    object-fit: cover;
    padding: 10px;
  }
  
  .second-banner-info {
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Alinea el contenido a la izquierda del contenedor */
    color: #000;
  }
  
  .second-banner-info h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: black;
    font-weight: bold;
  }
  
  .second-banner-info p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    line-height: 1.6;
  }
  
  .second-banner-button {
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    background-color: #f1683a;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
  
    letter-spacing: 3px;
    text-shadow: 0 2px 3px rgb(12, 11, 11);
  }
  
  .design-tailored-card .second-banner-button:hover {
    background-color: #333;
  }

  @media (max-width: 1080px){
    .second-banner-info h1{
      font-size: 30px;
    }
    .second-banner-info p{
      font-size: 14px;
    }

  }
   @media (max-width: 830px){
    .second-banner-info {
      width: 100%;
      padding: 10px 15px;
    }
    .second-banner-info h1{
      font-size: 25px;
      margin-bottom: 0px;
    }
    .second-banner-info p{
      font-size: 10px;
    }
    .second-banner-button {
      font-size: 14px;
      padding: 4px 16px;
    }

  }
   @media (max-width: 589px){
    .design-tailored-card {
      flex-direction: column;
      
    }
    .second-banner-info{
      justify-content: center;
      align-items: center;
    }
  }  


  /* @media (max-width: 464px){

    .second-banner-info {
      padding: 4px 12px;
    }
    .second-banner-info h1{
      font-size: 18px;
      margin-bottom: 0px;
    }
    .second-banner-info p{
      font-size: 7px;
      margin-bottom: 10px;
    }
      .second-banner-button {
      font-size: 10px;
      
    }


    
  }   */
