.fence-to-home{
    width: 90%;
    margin-left: 5%;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    padding: 20px;
}
h2{
    font-size: 40px;
    margin-bottom: 20px;
}
em{
    font-style: italic;
    font-size: 30px;
    font-weight: 500;
}

.slider-img {
    padding: 10px;
  }
  .slider-img img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  .slider-img img:hover {
    transform: scale(1.02);
  }

  @media screen and (max-width: 1093px){
    .fence-to-home{
      margin-top: 40px;
    }
  }
  @media screen and (max-width: 640px){
    .fence-to-home h2{
      font-size: 25px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .fence-to-home h2 em{
      font-size: 18px;
    }
  }

   