@import url('normalize.css');
.legenda-lead-form{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  color: black;
  font-weight: bold;
  font-size: 50px;
  
}

.contactu-info{
  margin: 3% 10% 3%;
  color: rgb(112, 106, 100);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.contactu-info h1{
  font-weight: bold;
  font-size: 45px;
}
.contactu-info p{
  font-size: 20px;
  margin: 10px 5%
}
.contactu-info strong{
  color: #f1683a;
}
@media (max-width: 750px) {
  .contactu-info h1{
    font-size: 30px;
  }
  .contactu-info p{
    font-size: 16px;
    line-height: 1.6;
    
  }   
}